// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L SMARC PHOENIX board
 *
 * Copyright (C) 2022 Regulus Corp.
 */

/dts-v1/;
#include "r9a07g044l2.dtsi"
#include "rzg2l-smarc-som.dtsi"
#include "rzg2l-smarc-pinfunction.dtsi"
#include "rz-gnk-smarc-common.dtsi"


/ {
	model = "Renesas GNK Board based on r9a07g044l2";
	compatible = "renesas,smarc-gnk", "renesas,r9a07g044l2", "renesas,r9a07g044";

	vdd_panel_3v3: vdd_panel_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "lcd-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	panel_rgb: panel-rgb {
		status = "okay";
		compatible = "panel-dpi";
		backlight = <&pwm_backlight>;
		enable-gpios = <&pinctrl RZG2L_GPIO(47, 2) GPIO_ACTIVE_HIGH>;
		power-supply = <&vdd_panel_3v3>;
		/* panel-timing is used for "panel-dpi" compatible */
#if 0
		panel-timing {
			clock-frequency = <25200000>;
			//clock-frequency = <10000000>;
			hactive = <640>;
			vactive = <480>;

			hsync-len = <96>;
			hfront-porch = <16>;
			hback-porch = <48>;

			vsync-len = <2>;
			vfront-porch = <10>;
			vback-porch = <33>;

			hsync-active = <1>;
			vsync-active = <1>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
#else
		panel-timing {
			clock-frequency = <70000000>;
			hactive = <1024>;
			vactive = <768>;

			hsync-len = <136>;
			hfront-porch = <24>;
			hback-porch = <160>;

			vsync-len = <6>;
			vfront-porch = <3>;
			vback-porch = <29>;

			hsync-active = <1>;
			vsync-active = <1>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
#endif
		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&du_out_rgb>;
			};
		};
	};
};

&scif1 {
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";
	status = "disabled";
};

&scif3 {
	pinctrl-0 = <&scif3_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&du {
	pinctrl-0 = <&du_pins>;
	pinctrl-names = "default";

	status = "okay";

	ports {
		port@0 {
			du_out_rgb: endpoint {
				remote-endpoint = <&panel_in_rgb>;
			};
		};
	};
};

&pinctrl {
	/delete-node/ can0-stb;
	/delete-node/ can1-stb;
	scif1_pins: scif1 {
		pinmux = <RZG2L_PORT_PINMUX(40, 0, 1)>,	/* TxD */
			 <RZG2L_PORT_PINMUX(40, 1, 1)>;	/* RxD */
	};

	scif3_pins: scif3 {
		pinmux = <RZG2L_PORT_PINMUX(0, 0, 5)>,	/* TxD */
			 <RZG2L_PORT_PINMUX(0, 1, 5)>;	/* RxD */
	};

	pmod0-gpio {
		gpio-hog;
		pinmux = <RZG2L_GPIO(43, 0) GPIO_ACTIVE_HIGH>,
			<RZG2L_GPIO(43, 2) GPIO_ACTIVE_HIGH>,
			<RZG2L_GPIO(41, 0) GPIO_ACTIVE_HIGH>,
			<RZG2L_GPIO(43, 1) GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&gpt4 {
	status = "disabled";
};

&dsi0 {
	status = "okay";
};

&csi2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&ov5645 {
	status = "okay";
};

&panel {
	status = "disabled";
};

&pwm_backlight {
	status = "okay";
};

&spi1 {
	status = "okay";
};
