// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L Apollo board
 *
 * Copyright (C) 2024 Regulus Corp.
 */

/dts-v1/;
#include "r9a07g044l2.dtsi"
#include "rzg2l-smarc-som.dtsi"
#include "rzg2l-apollo-pinfunction.dtsi"
#include "rz-gnk-smarc-common.dtsi"


/ {
	model = "Renesas Apollo Board based on GNK";
	compatible = "renesas,apollo", "renesas,r9a07g044l2", "renesas,r9a07g044";
};

&canfd {
	channel0 {
		status = "disabled";
	};
};

&scif1 {
	status = "disabled";
};

&gpt4 {
	status = "okay";
};

&pwm_backlight {
	status = "okay";
};

&dsi0 {
	status = "okay";
};

&mipi_panel {
	status = "okay";
};

&csi2 {
	status = "okay";
};

&ov5645 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};
