// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZG2L APOLLO pincontrol parts
 *
 * Copyright (C) 2022 Regulus Corp.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

&pinctrl {
	/* canbus 0 pin define share with debug port */
	can0_pins: can0 {
		pinmux = <RZG2L_PORT_PINMUX(38, 1, 3)>, /* TX */
			 <RZG2L_PORT_PINMUX(39, 0, 3)>; /* RX */
	};

	can0-stb-hog {
		gpio-hog;
		gpios = <RZG2L_GPIO(27, 0) GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "can0_stb";
	};

	can1_pins: can1 {
		pinmux = <RZG2L_PORT_PINMUX(40, 0, 3)>, /* TX */
			 <RZG2L_PORT_PINMUX(40, 1, 3)>; /* RX */
	};

	can1-stb-hog {
		gpio-hog;
		gpios = <RZG2L_GPIO(33, 0) GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "can1_stb";
	};
};
